body{
  background-color: rgb(184,230,235);
  font-family: consolas;
}
.navbar-red {
    border-width:0;
	  background-color:#23717A;
    color:#ffffff;
    font-family:arial,sans-serif;
    top:0;
    position:fixed;
    width:100%;
}

.navbar-red li > a,.navbar-toggle  {
   color:#efefef;
}


.navbar-red li>a:hover, .navbar-red li>a:focus, .navbar-red .open, .navbar-red .open>a, .navbar-red .open>a:hover, .navbar-red .open>a:focus {
   background-color:rgb(184,230,235);
   color:#fff;
}

.navbar h2{
  /*display: inline-block;*/
  text-align: center;
  font-family: consolas;
  font-style: normal;
  font-weight: bold;
  font-size: 2.5em;
}

#traka{
  padding-top: 10px;
}

.full{
  padding-top: 6%;
}

#miniNaslov{
  font-weight: lighter;
  font-size: 1.15em;

}

h4{
  font-family: consolas;
}

#profil a{
  float: right;
  font-size: 2em;
}
